.@{prefix}-workflow-test-button {
    .@{mui-prefix}Button-root {
        color: var(--text-color-base);
        border-color: var(--border-color-base);

        &:hover {
            background-color: var(--component-background-gray);
        }

        &:last-child {
            padding: @padding-xs;
        }
    }
}
